*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
}
.mars{
    width: 200px;
    height: 50px;
}
.figure{
    width: 60px;
    height: 70px;
}
header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 13.3px 0px #00000040;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
header a{
    color: #BCAAAA;
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color: #EF400F;
}
.lg{
    height: 32px;
    width: 34px;
}
.pp{
    border: 3px solid #EF400F;
    padding: 15px;
    border-radius: 50px;
}
main .container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.aimg a{
    font-size: 30px;
    gap: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.aimg a:hover{
    color: #EF400F; 
}
input{
    background-color: black;
    font-size: 30px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
}
button{
    font-size: 30px;
    padding: 10px 10px;
    background-color: #0D0D5B;
    border-radius: 10px;
    color: white;
}
.doda{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.ota{
    width: 270px;
    height: 290px;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
    flex-direction: column;
}
footer{
    display: flex;
    align-items: center;
}
footer .container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 13.3px 0px #00000040;
}
.coin{
    width: 18px;
    height: 18px;
}
